@{
    ViewData["Title"] = "Home Page";
}


    <img src="~/image/main.jpg" width="400" height="300" />

    <a class="image-popup-no-margins" href="/image/main.jpg">
        <img src="/image/0lj4r5ls9l1ntfh3df98seqvsm.png" class="zoom-icon-popup" style="width: 30px; height: 30px;">
    </a>


