<div data-collapse>

    <h2>Fruits</h2>

    <ul class="footer-navigation">
        <li>
            <a href="#">Terms &amp; Conditions</a>
        </li>
        <li>
            <a href="#">Cookie Policy</a>
        </li>
        <li>
            <a href="#">Sitemap</a>

            <div data-collapse>
                <h2>Fruits</h2>
                <ul class="test">
                    <li>
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>